@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(23, 22, 22);
    color: #EEE;
}

@keyframes fireAnimation {
  0% { color: #800080; } /* Purple */
  25% { color: #a020f0; } /* Darker Purple */
  50% { color: #8a2be2; } /* Blue Violet */
  75% { color: #a020f0; } /* Darker Purple */
  100% { color: #800080; } /* Purple */
}

.animate-fire {
  animation: fireAnimation 5s infinite;
}
